/* --------------------------------------------------------------
Responsive
-------------------------------------------------------------- */

@media only screen and (max-width: 991px) {

	html, 
	body {
		overflow-x: hidden;
	}

	.ccfw-featured-secondary .ccfw-entry-header h2 {
		font-size: 36px;
		margin-top: 25px;
		line-height: 1.25em;
	}

	.single-post #ccfw-page-wrap .ccfw-content h1 {
		font-size: 42px;
		line-height: 1.25em;
	}

	.single-post .ccfw-header-nav .ccfw-post-details {
		display: none;
	}

	.ccfw-primary-nav-wrapper .container {
		width: 100%;
		padding: 0px;
	}

	html body.single-post .ccfw-header-nav {
		height: auto;
	}

	body .ccfw-header-main, body .ccfw-header-main.style2 {
		height: auto;
		padding: 25px 0px;
	}

	.ccfw-header-nav input.search-field {
		padding: 0px 20px;
	}

	body  .ccfw-header-nav input.search-field {
		font-size: 16px;
	}

	body h1.ccfw-site-title {
		font-size: 38px;
	}

	body .ccfw-header-main .ccfw-site-description {
		font-size: 11px;
	}

	.search-menu {
		display: none;
	}

	.ccfw-featured .col-lg-6:first-child {
    	margin-bottom: 40px;
	}

	.ccfw-site-logo,
	.ccfw-site-text-logo,
	.ccfw-header-branding,
	.ccfw-header-details-right {
		float: none;
		width: 100%;
		text-align: inherit;
	}

	body .ccfw-site-logo a {
		line-height: inherit;
	}

	.ccfw-site-logo {
		padding: 30px 0px;
		text-align: center;
	}

	.ccfw-site-text-logo {
		padding: 0px 0px;
		text-align: center;
	}

	body .ccfw-header-main,
	.ccfw-header-main .col-lg-12 {
	    height: inherit;
	    display: block;
	    align-items: inherit;
	}

	body .ccfw-header-nav {
		background-color: #1D1D1D;
		position: relative !important;
	}

	.taxonomy-description {
		width: 100%;
	}

	#ccfw-back-to-top {
		visibility: hidden;
	}

	.ccfw-blog-image img {
		width: 100%;
	}

	.ccfw-blog-image {
		margin-bottom: 20px;
	}

	.comment-form-author, 
	.comment-form-email, 
	.comment-form-url {
		float: none;
		width: 100%;
		padding: 0px;
	}

	.left-content, .right-content {
		padding-bottom: 50px;
	}

	body #infinite-handle span {
		display: inline-block;
	}

	.ccfw-header-nav {
		border: none;
		background-color: #1D1D1D;
	}

	.ccfw-primary-nav {
		margin-bottom: 0px;
	}

	.nav-toggle {
		margin-left: 0px;
	}

	.mobile-menu ul a {
		padding-left: 20px;
	}

	.ccfw-header-details {
		height: auto;
		margin-bottom: 22px;
	}

	.ccfw-first-footer-wrapper .footer-one, 
	.ccfw-first-footer-wrapper .footer-two {
		margin-bottom: 35px;
	}

}

@media only screen and (max-width: 768px) {

	.ccfw-featured-secondary {
		width: 100%;
		float: none;
		margin-bottom: 35px;
	}

	.ccfw-featured-secondary .ccfw-entry-header h2 {
		font-size: 36px;
		margin-top: 25px;
	}

	.single-post article .author-info {
		display: none;
	}

	.single-post .site-main {
		padding-left: 0px;
	}

	.single-post .ccfw-content h1 {
		font-size: 44px;
		line-height: 1.25em;
	}

	.ccfw-post-navigation .nav-previous,
	.ccfw-post-navigation .nav-next {
		padding-left: 15px;
	}

	.ccfw-post-navigation .nav-previous {
		text-align: left;
		border-right: none;
		padding-bottom: 0px;
	}

	.content-area .comment-list .reply {
		position: relative;
	}

	.content-area .comment-list li .reply a {
		opacity: 1;
	}

	.widget .textwidget img {
		width: 100%;
	}

	.single-post .comment-form-author, .single-post .comment-form-email, .single-post .comment-form-url {
		width: 100%;
		padding-right: 0px;
	}


}